

<h1>50-50 BOWL</h1>
 <h4>choose 1curry + 1rice <h4>
   <br>
 <mat-card>
     <b> 1</b>
      BOWL RICE
     </mat-card>
     <br>
   <br>

      <h6> Select  any Two Curry's</h6>
      <mat-card>
      <mat-form-field>
   <mat-select [(value)]="selected1">
     <mat-option>None</mat-option>
     <mat-option value="chicken 65">chicken 65</mat-option>
     <mat-option value="chicken chukka">chicken chukka</mat-option>
     <mat-option value="mutton gravy">mutton gravy</mat-option>
   </mat-select>
 </mat-form-field><br>
 </mat-card>
