<h1>Firestore Notes</h1>
<p>
  Learn how to build
  <img src="https://firebasestorage.googleapis.com/v0/b/pwa-test-r1.appspot.com/o/logo1.png?alt=media&token=6350719c-c676-46d1-94d4-f01e83b6be3d" width="300px" height="auto"alt="Firestarter Angular4 Demo App"/> 
  <a href="https://angularfirebase.com/tag/firestore">cool stuff with Firestore</a>
</p>
<hr>

<input [(ngModel)]="content" placeholder="Add your own note" class="input">


<button class="button is-success" (click)="clickHandler()" [disabled]="content?.length < 2 || content?.length > 200">
  Add Note
</button>
<hr>
<div *ngFor="let note of notes | async">
  <note-detail [note]="note"></note-detail>
</div>
